.AuthContent {
    &_Title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: #FFFFFF;
    }

    &_Description {
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;

        color: #FFFFFF;
    }
}